#video
data/video/Traffic.mp4

#weights
weights/checkpoint
weights/yolov3.weights
weights/yolov3.cfg
weights/yolov3_weights.tf.data-00000-of-00001
weights/yolov3_weights.tf.index

#extra
test.py
test_result.jpg
utils.py

.idea